<h3>{{ 'person-detail.added-data' | translate }}</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
            <h5 class="list-group-item-heading" *ngIf="!person">
                {{ 'person-detail.details-message' | translate }}
            </h5>
            <h4 class="list-group-item-heading">
                {{person?.firstName}} {{person?.lastName}}
            </h4>
            <h5 class="list-group-item-heading" *ngIf="person?.socialSkills">
                {{ 'common.social-skills' | translate }}
            </h5>
            <h6 *ngFor="let socialSkill of person?.socialSkills">
                <td>{{socialSkill}}</td>
            </h6>
            <h5 class="list-group-item-heading" *ngIf="person?.socialMediaAccounts">
                {{ 'common.social-media-accounts' | translate }}
            </h5>
            <h6 *ngFor="let socialMediaAccount of person?.socialMediaAccounts">
                <td>{{socialMediaAccount?.type}} | <a [href]="formatUrl(socialMediaAccount?.address)" target="_blank">{{socialMediaAccount?.address}}</a></td>
            </h6>
        </div>
        <span class="pull-right" *ngIf="modifiedPersonData">
            <h4 class="list-group-item-heading">
                {{ 'person-detail.modified-data' | translate }}
            </h4>
            <h5 class="list-group-item-heading">
                {{ 'person-detail.number-of-vowels' | translate }} {{modifiedPersonData.numberOfVowels}}
            </h5>
            <h5 class="list-group-item-heading">
                {{ 'person-detail.number-of-consonants' | translate }} {{modifiedPersonData.numberOfConsonants}}
            </h5>
            <h5 class="list-group-item-heading">
                {{ 'person-detail.reversed-name' | translate }} {{modifiedPersonData.reversedName}}
            </h5>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
            <pre *ngIf="person">{{ person | json }}</pre>
        </div>
    </div>
</div>