<div *ngIf="showTable && (authService.isLoggedIn$ | async)">
<select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="filterValue" (change)="applyFilter()">
    <option value="">Svi kupci</option>
    <option *ngFor="let kupacValue of availableKupacValues" [value]="kupacValue">{{ kupacValue }}</option>
  </select>
<div>&nbsp;</div>
  <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="brendFilterValue" (change)="applyFilter()">
    <option value="">Svi brendovi</option>
    <option *ngFor="let brendValue of availableBrendValues" [value]="brendValue">{{ brendValue }}</option>
  </select>

  <br><br>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Kupac</th>
        <th scope="col">Tip akcije</th>
        <th scope="col">Brend</th>
        <th scope="col">Šifra artikla</th>
        <th scope="col">Artikal</th>
        <th scope="col">Cijena</th>
        <th scope="col">Početak akcije</th>
        <th scope="col">Kraj akcije</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let akcija of filteredData; let i = index" (click)="highlightRow(i)" [class.active]="i == highlightedRow">
        <th scope="row">{{ akcija.kupac }}</th>
        <td>{{ akcija.tipAkcije }}</td>
        <td>{{ akcija.brend }}</td>
        <td>{{ akcija.sifArt }}</td>
        <td>{{ akcija.artikal }}</td>
        <td>{{ akcija.cijena }}</td>
        <td>{{ akcija.pocetakAkcije}}</td>
        <td>{{ akcija.krajAkcije}}</td>
      </tr>
    </tbody>
  </table>
</div>