<mat-dialog-content class="mat-typography">
  <img src="./../../../assets/Screenshot_1.png" width="100" style="padding-bottom: 10px;" />
  <br />
  <div class="input-group input-group-sm mb-3" style="padding-bottom: 6px;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Korisničko ime</span>
      </div>
      <input [(ngModel)]="username" type="text" class="form-control" aria-label="Korisničko ime" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3" style="padding-bottom: 6px;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Lozinka</span>
      </div>
      <input [(ngModel)]="password" type="password" class="form-control" aria-label="Lozinka" aria-describedby="inputGroup-sizing-sm">
    </div>
  <p *ngIf="error" style="color:red; padding-bottom: 6px;padding-top: 6px;">{{error}}</p>
  <button class="btn btn-primary" (click)="submit()">Prijava</button>
</mat-dialog-content>