<mat-card class="no-person-card" *ngIf="!persons || persons.length === 0">
    <mat-card-title>{{ 'person-list.no-persons' | translate }}</mat-card-title>
</mat-card>

<div *ngIf="persons && persons.length > 0">
    <mat-card class="person-card" *ngFor="let person of persons" style="margin-bottom: 10px; width: 30%;">
        <mat-card-title>{{person?.firstName}} {{person?.lastName}}</mat-card-title>
        <mat-card-subtitle *ngIf="person?.socialSkills">{{ 'common.social-skills' | translate }}</mat-card-subtitle>
        <mat-card-content *ngFor="let socialSkill of person?.socialSkills">
            <p>{{socialSkill}}</p>
        </mat-card-content>
        <mat-card-subtitle *ngIf="person?.socialMediaAccounts">{{ 'common.social-media-accounts' | translate }}</mat-card-subtitle>
        <mat-card-content *ngFor="let socialMediaAccount of person?.socialMediaAccounts">
            <p>{{socialMediaAccount?.type}} | <a [href]="formatUrl(socialMediaAccount?.address)" target="_blank">{{socialMediaAccount?.address}}</a></p>
        </mat-card-content>
    </mat-card>
</div>
